html,
body,
#root {
  max-height: 100dvh;
  overscroll-behavior-y: none;
  width: 100%;
  scrollbar-gutter: stable;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}


form {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
}

button,
input {
  outline: 0;
  border: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

#root {
  font-family: 'Monseratt', 'Helvetica Neue', sans-serif;
}
